<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>
<p th:text="${'Bonjour ' + nameCandidat+','}"></p>
<p th:text="${'Nous vous remercions de votre interet pour l appel offre '+ titreAo+'chez'+ nameEsnHasPostedAo+'.'}"></p>


<p>Après une étude approfondie de votre dossier, nous ne sommes malheureusement pas en mesure d'y donner une suite favorable.</p>

<p>Nous conservons votre candidature et vous contacterons dès qu'une nouvelle opportunité qui correspond à votre profil se libère.</p>

<p>Par ailleurs, nous vous invitons à consulter régulièrement nos offres sur notre site carrière </p>



<p>Nous vous prions d'agréer nos meilleures salutations.</p>




<p>L'équipe recrutement</p>

</body>
</html>
