bs4==0.0.1
celery
flask_pymongo
itsdangerous==2.0.1
cors==1.0.1
Flask-Cors==3.0.10
flask-oidc==1.4.0
#Flask-PyMongo==2.1.0
lxml==4.8.0
pandas
py-eureka-client==0.10.5
pyOpenSSL==22.0.0
python-keycloak==0.27.0
scikit-learn
selenium

#BeautifulSoup==3.2.1
nltk==3.7
pyOpenSSL==22.0.0
scikit-learn==1.0.2

sklearn