<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<p th:text="${'Bonjour '}"></p>
<p th:text="${name+' a postulé à votre appel offre '+ titreAo}"></p>




<p>Nous vous prions d'agréer nos meilleures salutations.</p>
<p>Cordialement</p>

</body>
</html>